<div class="subscribe d-flex align-items-end px-4">
  <div class="container">
    <div class="row">
      <div>
        <h3 class="text-light fs-6 mb-8">
          想收到最新消息嗎？<br />
          快訂閱我們！
        </h3>
        <div class="input-group mb-11">
          <input
            type="text"
            class="form-control"
            placeholder="輸入您的電子信箱"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button class="btn btn-danger" type="button" id="button-addon2">
            訂閱
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div>
      <a class="navbar-brand fs-6" href="index">EXHIBINECTION</a>
      <p>© 2020. All Rights Reserved.</p>
    </div>
  </div>
</nav>
