.subscribe {
  background-image: url("/assets/images/sub.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.subscribe .btn {
  padding: 12px 52px;
}
